pkgbase = skr
	pkgdesc = Simple Kodi Remote - A terminal-based remote control for Kodi
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/tunnell/simple-kodi-remote
	arch = any
	license = GPL3
	depends = zsh
	depends = kodi-eventclients
	depends = ncurses
	source = skr
	source = LICENSE.md
	sha256sums = 26ca3c29b213fbd6befe1a526a104d9fe5af9763004506ccdbafff37daf165ec
	sha256sums = cc5470feed66192387f06ae93aed0bd4fefae5a5fd7c1e54a4acf4ea64f1028b

pkgname = skr
