pkgbase = skr
	pkgdesc = Simple Kodi Remote - A terminal-based remote control for Kodi
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/tunnell/simple-kodi-remote
	arch = any
	license = GPL3
	depends = zsh
	depends = kodi-eventclients
	depends = ncurses
	source = skr-1.0.0.tar.gz::https://github.com/tunnell/simple-kodi-remote/archive/v1.0.0.tar.gz
	sha256sums = ca4967f33fafd3c3793121370b2159cc6e4d596cfa37f9d909adcdc0374fafee

pkgname = skr
